@font-face {
    font-family: "Montserrat Alternate";
    src: url("../../public/fonts/MontserratAlternates-SemiBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat Alternate";
    src: url("../../public/fonts/MontserratAlternates-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
