h1 {
    font-size: 72px;
    color: var(--text);
    display: flex;
    align-items: center;
    gap: 16px;
}

h1 > svg {
    height: 64px;
}

.home-page__search {
    height: 100vh;
    display: flex;
    gap: 64px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--background);
    background-image: var(--unsplash-image);
    background-position: center;
    background-size: cover;
}

.home-page__search::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--background);
    opacity: .7;
}

.home-page__search > * {
    z-index: 50;
}

.home-page__unsplash-text {
    font-size: 14px;
    position: absolute;
    bottom: 16px;
    right: 24px;
}
