.modal__wrapper[open=""] {
    display: grid;
    gap: 16px;

    margin: auto;
    padding: 32px;
    border: var(--bright-black) solid 2px;
    background: var(--background);
    color: var(--text);
}

.modal__wrapper::backdrop {
    background-color: var(--black);
    opacity: .6;
}

.modal__actions {
    display: flex;
    gap: 16px;
}

.modal__actions button {
    flex: 1;
    color: var(--text);
    background: none;
    border: 2px solid var(--bright-black);
    border-radius: 4px;
    cursor: pointer;
    transition: .2s all;
}

.modal__actions button:hover {
    background-color: var(--hover);
}
