.search__wrapper {
    padding: 24px 32px;
    display: grid;
    gap: 32px;
}

.search-result__col {
    margin-inline: 24px;
}

.search-result__wrapper a {
    text-decoration: none;
}

.search-result__wrapper {
    width: calc(50vw - 64px);
    display: grid;
    gap: 8px;
    margin-bottom: 24px;
    color: var(--text);
}

.search-result__link {
    color: inherit;
}

.search-result__wrapper, .search-result__wrapper:hover {
    text-decoration: none;
}

.search__form {
    color: var(--foreground);
    display: flex;
    align-items: center;
    gap: 24px;
}

.search__form svg {
    height: 32px;
    color: var(--text);
}
