.search__wrapper {
    padding: 24px 32px;
}

.search-result__col {
    margin: 24px;
}

.search-result__wrapper a {
    text-decoration: none;
}

.search-result__wrapper {
    width: calc(50vw - 64px);
}

.search__form {
    color: var(--foreground);
    display: flex;
    align-items: center;
    gap: 24px;
}
.search__form > form {
    margin: 0;
}

.search__form svg {
    height: 32px;
    color: var(--text);
}
