h1 {
    font-size: 72px;
    color: var(--text);
    display: flex;
    align-items: center;
    gap: 16px;
}

h1 > svg {
    height: 64px;
}

.home-page__search {
    height: 100vh;
    display: flex;
    gap: 64px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--background);
    background-image: var(--unsplash-image);
    background-position: center;
    background-size: cover;
}

.home-page__search::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--background);
    opacity: .7;
}

.home-page__search > * {
    z-index: 50;
}

.home-page__unsplash-text {
    display: flex;
    gap: 8px;
    font-size: 14px;
    position: absolute;
    bottom: 16px;
    right: 24px;
}

.home-page__unsplash-text svg {
    cursor: pointer;
}

.home-page__internet-indicator {
    position: absolute;
    top: 48px;
    display: flex;
    gap: 16px;
    align-items: center;
    font-weight: bold;
    background-color: var(--background);
    padding: 16px 24px;
    border-radius: 50px;
    border: var(--foreground) solid 2px;
    opacity: 0;
}

.home-page__search[data-enabled="true"] .home-page__internet-indicator {
    opacity: 1;
}

.home-page__search[data-enabled="true"] .home-page__unsplash-text {
    opacity: 0;
}
