.search__wrapper {
    padding: 24px 32px;
    display: grid;
    gap: 32px;
}

.search-result__col {
    margin-inline: 24px;
}

.search-result__wrapper a {
    text-decoration: none;
}

.search-result__title {
    display: flex;
    place-items: center;
    gap: 8px;
}

.search-result__title:hover svg {
    opacity: 1;
}

.search-result__title svg {
    opacity: 0;
    cursor: pointer;
    color: var(--bright-red);
    transition: .1s all;
}

.search-result__title svg:hover {
    color: var(--red);
}

.search-result__wrapper {
    width: calc(50vw - 64px);
    display: grid;
    gap: 4px;
    margin-bottom: 24px;
    color: var(--text);
}

.search-result__link {
    display: flex;
    gap: 8px;
}

.search-result__title img {
    height: 24px;
    aspect-ratio: 1;
}

.search-result__website {
    color: var(--text-muted);
    font-size: 14px;
}

.search-result__wrapper, .search-result__wrapper:hover {
    text-decoration: none;
}

.search__form {
    color: var(--foreground);
    display: flex;
    align-items: center;
    gap: 24px;
}

.search__form svg {
    height: 32px;
    color: var(--text);
}

.search-form__wrapper input {
    background-color: var(--background);
}
